.container{
    padding:0 !important;
}
body {
    position:relative;
    overflow-x:hidden;
    overflow-y: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    background:#ebf0f3;
    margin:0;
	border-top:2px solid #000;
}
 
img {
    max-width:100%; 
}

#page {
    width:960px;
    position:relative;
    //margin-top:200px;
    padding-left:10px;
}

header{
    display:block;
    top:0;
    height:100px;
	text-align:center;
    /*background:#282828;*/
}
header > div{

}
 
.menu_btn {
    display:block;
    position:absolute;
    height:44px;
    width:44px;
    top:0;
    left:0px;
}

.menu_btn > em{
    color:#FFF;
    width:44px;
    height:44px;
    text-align: center;
    line-height: 42px;
}
 .nav{
    position:absolute;
    left:20px;
    width:44px;
    z-index:100;
 }
#menu {
    height:100%;
    position:fixed;
    background:#28303b;
    top:0;
    bottom:0;
    height:100%;
    width:240px;
    left:-240px;
    z-index:9999;
}
 
#menu ul {
    padding:0;
    margin:0;
    list-style:none;
    color:white;
}
 
#menu ul li {
    height:47px;
    padding-left:30px;
    line-height:47px;
    border-bottom:1px solid #141d25;
}
 
#menu ul li.active {
    background:#222b34; 
}
 
#menu ul li:hover {
    background:#222b34;     
}
 
#menu ul li a {
    color:#333;
    text-decoration:none;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    display:block;
}
 
.close-menu {
    display:block;
    height:47px;
    width:47px;
    position:absolute;
    top:0;
    left:0px;
    color:#FFF;
}

.close-menu > em {
    color:#FFF !important;
    width:47px;
    height:47px;
    text-align: center;
    line-height: 47px
}
 
#logo {
    padding-left:20px;
    max-width:309px;
    display:block;
}
 
.article {
    width:450px;
    float:left;
    margin:10px;
    //border-top:3px solid #f2b33d;
    //background:#2f2f2f; 
}
 
.article img {
    border-bottom:3px solid #353535;    
}
 
h2 {
    font-weight:300;
    color:white;
}
 
.article p {
    color:#595959;
    padding:0 15px;
    font-size:11px;
    line-height:18px;
    text-align:justify; 
}
 
a.read_more {
    color:white;
    padding-left:15px;
    text-decoration:none;
    background:url(../img/fleche.png) no-repeat 140px center;
    height:25px;
    display:block;
    line-height:25px;
    margin-bottom:15px;
}
footer{
    display: block;
    position:fixed;
    bottom:0;
    /*background:#000;*/
    height:44px;
    width:100%;
    border-top:1px solid #b2b2b2;
    color:#FFF;
} 

footer > ul{
    padding: 0;
    margin: 0;
}

footer > ul > li{
    display:inline-block;
    list-style-type: none;
    width:24%;
    height:44px;
    text-align: center;
    line-height: 30px
}

footer > ul > li > a{
color:#FFF;
}

footer > ul > li > em{
vertical-align: middle;
}

.fa-mobile{
font-size:36px !important;
}
a:visited{
color:#333;
}
a:hover{
color:#333;
}

.fa-map-marker, .fa-comment{
font-size:26px !important;
}
 
/* Disable iOS/WinMobile font size changes */
@media screen and (max-width: 600px),
screen and (max-device-width: 480px) {
    html {
        -ms-text-size-adjust: none;
        -webkit-text-size-adjust: none;
    }
}
 
/* ==== Media Queries ==== */
 
/* Wide Screen */
@media (min-width : 1280px) {
     
    #page {
        width:1280px;
    }
     
    .article {
        width:400px;
    }

    .footer{
        width:1170px;
    }
     
}
 
/* Default Screen */
@media (min-width : 960px) and (max-width : 1280px) { 
     
    #page {
        width:960px;
    }
 
}
 
/* Tablet Screen Big */
@media (min-width : 720px) and (max-width : 960px) {
     
    #page {
        width:720px;
    }
     
    .article {
        width:330px;
    }
 
}
 
/* Tablet Screen Small */
@media (min-width : 640px) and (max-width : 720px) {
     
    #page {
        width:640px;
    }
     
    .article {
        width:600px;
    }
     
}
 
/* Mobile Screen Wide */
@media (max-width : 640px) {
     
    #page {
        width:100%;
        padding:0;
    }
     
    .menu_btn {
        right:10px; 
    }
     
    #logo {
        width: 70%; 
    }
     
    .article {
        width:auto;
    }
 
}